
/* Your CSS Code here. */

body {
    font-family: Arial;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.container {
    text-align: center;
}

img {
    width: 150px;
    border-radius: 50%;
}

.buttons button {
    margin: 10px;
    padding: 10px 15px;
    cursor: pointer;
}

#getUser {
    margin-top: 20px;
    padding: 10px 20px;
}

#info {
    margin-top: 10px;
    font-weight: bold;
}